<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="shortcut icon" href="../../assets/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/week-04/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/week-04/global.css">
    <link rel="stylesheet" type="text/css" href="../css/week-04/header.css">
    <link rel="stylesheet" type="text/css" href="../css/week-04/main.css">
    <link rel="stylesheet" type="text/css" href="../css/week-04/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/week-04/sidebar.css">
    <link rel="stylesheet" type="text/css" href="../css/sign-up.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script defer src="../js/login.js"></script>
</head>
<body>
    <header>
        <img class="ham-icon-class" src="../../assets/images/hamIcon.png" alt="hamburger-icon">
        <h1>
            <img src="../../assets/images/megarocketlogo.png" alt="MegaRocket">
        </h1>
    </header>
    <section>
        <div class="container-login">
            <div class="back-img">
                <a href="../views/index.html"><img src="../../assets/images/deshacer.png" alt="back-button"></a>
            </div>
            <h2>Log in</h2>
            <div class="input-img-class" >
                <img src="../../assets/images/mail.png" alt="email-img">
                <input type="text" name="email" id="email-input-login" placeholder="E-mail...">
                <p class="error-message" id="email-error-login"></p>
            </div>
            <div class="input-img-class">
                <img src="../../assets/images/cerrar (1).png" alt="lock-img">
                <input type="password" name="password" id="password-input-login" placeholder="Password">
                <p class="error-message" id="password-error-login"></p>
            </div>
            <div>
                <h3>Have you forgotten your password?</h3>
            </div>
            <div>
                <button type="button" id="login-button">Log in</button>
            </div>
        </div>
    </section>
</body>
</html>