<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="shortcut icon" href="../../assets/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/week-04/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/week-04/global.css">
    <link rel="stylesheet" type="text/css" href="../css/week-04/header.css">
    <link rel="stylesheet" type="text/css" href="../css/week-04/main.css">
    <link rel="stylesheet" type="text/css" href="../css/week-04/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/week-04/sidebar.css">
    <link rel="stylesheet" type="text/css" href="../css/sign-up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script defer src="../js/sign-up.js"></script>
</head>
<body>
    <header>
        <img class="ham-icon-class" src="../../assets/images/hamIcon.png" alt="hamburger-icon">
        <h1>
            <img src="../../assets/images/megarocketlogo.png" alt="MegaRocket">
        </h1>
    </header>
    <section class="register-class">
        <div class="top-class">
            <a href="../views/index.html">
                <img src="../../assets/images/deshacer.png" alt="back-button">
            </a>
            <h2>Register</h2>
        </div>
        <form id="form-id">
            <div>
                <div class="only-height">
                    <input type="text" name="name" id="name-input" placeholder="Name...">
                    <p class="error-message" id="name-error-message"></p>
                </div>
                <div class="only-height">
                    <input type="text" name="surname" id="surname-input" placeholder="Surname...">
                    <p class="error-message" id="surname-error-message"></p>
                </div>
                <div class="only-height">
                    <input type="text" name="id" id="id-input" placeholder="ID...">
                    <p class="error-message" id="id-error-message"></p>
                </div>
                <div class="only-height">
                    <input type="date" name="birthdate" id="birthdate-input" placeholder="Birthday...">
                    <p class="error-message" id="birthdate-error-message"></p>
                </div>
                <div class="only-height">
                    <input type="text" name="phone" id="phone-input" placeholder="Phone number...">
                    <p class="error-message" id="phone-error-message"></p>
                </div>
                <div class="only-height">
                    <input type="text" name="address" id="address-input" placeholder="Address...">
                    <p class="error-message" id="address-error-message"></p>
                </div>

            </div>
            <div>
                <div class="only-height">
                    <input type="text" name="city" id="city-input" placeholder="City...">
                    <p class="error-message" id="city-error-message"></p>
                </div>
                <div class="only-height">
                    <input type="text" name="postal-code" id="postal-code-input" placeholder="Postal code">
                    <p class="error-message" id="postalcode-error-message"></p>
                </div>
                <div class="only-height">
                    <input type="text" name="email" id="email-input" placeholder="E-mail...">
                    <p class="error-message" id="email-error-message"></p>
                </div>
                <div class="only-height">
                    <input type="password" name="password" id="password-input" placeholder="Password">
                    <p class="error-message" id="password-error-message"></p>
                </div>
                <div class="only-height">
                    <input type="password" name="repeat-password" id="repeat-password-input"
                    placeholder="Repeat password">
                    <p class="error-message" id="repassword-error-message"></p>
                </div>
                <div class="button-container">
                    <button type="button" id="register-button">Register</button>
                </div>
            </div>
        </form>
    </section>
</body>
</html>